*.txt
*.pth
*.tch
*.pkl
*.pte
*.bin
*.zip
*venv
*/venv311
**/__pycache__
**/.mypy_cache
*.
**/database
**prompt**
**/*cache*
**/build
Lib
Scripts
pyvenv.cfg
**/executorch
**/tensorflow_src
**/minimal_build

*.onnx
*.data

**/st_ai_*

libopencm3