*.txt
*.pth
*.tch
*.pkl
*.pte
*.bin
*.zip
*venv
*/venv311
**/__pycache__
**/.mypy_cache
*.
**/database
**prompt**
**/*cache*
Lib
Scripts
pyvenv.cfg
**/executorch
**/tensorflow_src
**/minimal_build

*.onnx
*.data

**/st_ai_*

stm32_example_export_opensource/libopencm3
EXPORTED*
*.pdf
.metadata
.*
*.elf
*.map
*.hex
*.obj
*.o